@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;

.auth-layout {
  
  &__grid {
    @include m.grid(2, v.$gutter);
  }
  
  &__content-box {
    display: flex;
    align-items: center;
    justify-content: center;

    @include m.responsiveDesign("laptop") {
      height: auto;
    }
  }
  
  &__content {
    width: 90%;
    padding: v.$gutter calc( v.$gutter * 2 );
    
    @include m.responsiveDesign("laptop") {
      width: 100%;
      padding: calc( v.$gutter * 2 ) v.$gutter;
    }
  }

  &__logo-box {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: calc( v.$gutter / 2 );
  }

  &__logo {
    width: 7rem;
  }

  &__name {
    font-weight: 900;

    span {
      color: v.$color-tertiary;
    }
  }

  &__header {
    margin-bottom: v.$gutter;
  }

  &__text {
    color: v.$color-gray-dark;
  }

  &__children {
    width: 100%;
  }

  &__bottom {
    margin-top: v.$gutter;
    display: flex;
    gap: 1rem;

    a {
      color: v.$color-tertiary;
      font-weight: 400;
      border-bottom: 1px solid currentColor;
      padding-bottom: 1px;
      transition: all .4s ease;
    }

    a:hover {
      font-weight: bold;
    }
  }

}

.auth-layout-slider {
  height: 100%;
  min-height: 100vh;
  border: 1px solid v.$color-primary;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .15);
}