@use '../abstracts/variables' as v;

.u-text-wrong {
  color: v.$color-icon-error;
}

.u-animate-moveToLeft {
  animation: moveToLeft 2s ease;
}

.u-animate-moveToRight {
  animation: moveToRight 2s ease;
}

.u-h-20 {
  height: 20rem;
}

.u-py-10 {
  padding: 10rem 0;
} 