@use '../abstracts/variables' as v;

.u-text-wrong {
  color: v.$color-icon-error;
}

.u-animate-moveToLeft {
  animation: moveToLeft 2s ease;
}

.u-animate-moveToRight {
  animation: moveToRight 2s ease;
}

.u-h-20 {
  height: 20rem;
}

.u-py-10 {
  padding: 10rem 0;
} 

.u-text-center {
  text-align: center;
}

.u-hidden {
  display: none;
}

.u-show {
  display: block;
}

.u-mb-4 {
  margin-bottom: 1rem;
}

.u-disabled {
  pointer-events: none;
  opacity: .5;
}

.u-strong {
  font-weight: 900;
}

.u-w-100 {
  width: 100%;
}

.u-w-80 {
  width: 80%;
}

.u-mt-4 {
  margin-top: 4rem;
}

.u-mt-2 {
  margin-top: 2rem;
}

.u-my-8 {
  margin: 6rem 0;
}

.u-mt-1 {
  margin-top: 1rem;
}