@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;

.auth-password {

  height: 100vh;

  &__grid {
    height: 100%;
    @include m.grid( 2, v.$gutter );
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc( v.$gutter * 2);
  }

  &__return {
    @include m.createButton( v.$color-tertiary, v.$color-background, 'outline' )
  }

  &__logo {
    width: 15rem;
    margin-left: -2rem;
  }

  &__content {
    animation: moveToRight 2s ease;
    padding: v.$gutter calc( v.$gutter * 2 );
  }

  &__banner {
    animation: moveToLeft 2s ease;
    background-color: v.$color-tertiary-dark;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .15);
    position: relative;
  }

  &__message {
    position: absolute;
    color: v.$color-background;
    font-size: 8rem;
    font-weight: 900;
    transform: translateY(-50%) rotate(90deg);
    top: 50%;
    right: -20%;
  }

}