$color-primary: #142027;
$color-primary-light: #8a9093;
$color-primary-dark: #101a1f;

$color-secondary: #A8E463;

$color-tertiary: #7137FF;
$color-tertiary-dark: #442199;

$color-pink: #B06AB3;
$color-pink-light: #d8b5d9;
$color-blue: #4568DC;
$color-blue-ligth: #ecf0fc;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eeeeee;
$color-gray-dark: #777777;
$color-gray-dark-2: #999999;

$color-error: #FBE9E9;
$color-text-error: #4F3333;
$color-icon-error: #930F0E;

$color-info: #F8F9FD;
$color-text-info: #040608;
$color-icon-info: #194FA8;

$color-success: #EAF2EB;
$color-text-success: #343F34;
$color-icon-success: #295F2B;

$color-orange: #ffa94d;

$color-text: #333333;

$color-background: #fff;

$border-color: #ddd;

$default-font-size: 1.4rem;

$gutter: 5rem;

$z-index-alert: 99999;
$z-index-menu-accordeon: 9;

$header-height: 6.4rem;
$aside-menu-width: 30rem;
$aside-menu-width-small: 8rem;