$color-primary: #142027;
$color-primary-light: #8a9093;
$color-primary-dark: #101a1f;

$color-secondary: #A8E463;

$color-tertiary: #7137FF;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eeeeee;
$color-gray-dark: #777777;
$color-gray-dark-2: #999999;

$color-text: #333333;

$color-background: #f5f5f5;

$border-color: #ddd;

$default-font-size: 1.4rem;

$gutter: 5rem;