@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;

.validate-account {

  height: 100vh;
  position: relative;

  &__container {
    position: absolute;
    animation: appear 2s ease;
    backface-visibility: hidden;
    width: 70rem;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -2.4rem;
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid v.$color-gray-dark;
  }
 
  &__message {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__banner {
    position: absolute;
    width: 7rem;
    height: 100vh;
    top: 0;
    
    &--right {
      background-color: v.$color-pink;
      right: 0;
      animation: appear 4s ease;
    }

    &--left {
      transform: rotate(180deg);
      background-color: v.$color-blue;
      left: 0;
      animation: appear 4s ease;
    }
  }

  &__banner-message {
    font-weight: 900;
    transform: rotate(90deg);
    margin-top: 5rem;
    font-size: 2rem;
    color: v.$color-background;
  }

  &__link {
    font-weight: bold;
    color: v.$color-pink;
    border-bottom: 2px solid currentColor;
    padding-bottom: 1px;
  }

}