@use '../../styles/abstracts/variables' as v;

.validate-account-message {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 15rem;
  }

  &__container {
    animation: moveToRight 2s ease;
    z-index: 2;
    background-color: v.$color-background;
    width: 60rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
    border: 1px solid v.$border-color;
    padding: 4rem;
    border-radius: 10px;
  }

  &__content {
    margin-bottom: 4rem;
  }

  &__text {
    text-align: center;

    span {
      font-weight: bold;
      color: v.$color-tertiary;
    }
  }

  &__form {
    width: 80%;
    margin: 0 auto;
  }

  &__strong {
    display: inline;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 2px;
    border-bottom: 2px solid v.$color-gray-dark;
  }

  &__no:link, &__no:visited {
    font-weight: 700;
    padding-bottom: 2px;
    border-bottom: 2px solid currentColor;
    color: v.$color-tertiary;
    transition: all .4s ease;
  }

  &__no:active, &__no:hover {
    color: v.$color-gray-dark;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    background-color: v.$color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveToLeft 2s ease;
  }

  &__banner {
    color: v.$color-background;
    font-size: 8rem;
    font-weight: 900;
    transform: rotate(90deg);
    margin-right: 20rem;

  }

}