@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.form {

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 4rem;
  }

  &__input {
    width: 100%;
    border: 1px solid v.$border-color;
    padding: 1rem;
    border-radius: 5px;
    background-color: v.$color-background;
  }

  &__field-password {
    input { border: none; }
    display: flex;
    align-items: center;
    border: 1px solid v.$border-color;
    border-radius: 5px;
    padding-right: 1rem;
    width: 100%;
  }

  &__icon {
    cursor: pointer;
    font-size: 2rem;
    color: v.$color-gray-dark;
  }

  &__forgot-password-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      color: v.$color-gray-dark;
    }
  }

  &__forgot-password {
    cursor: pointer;
    transition: all .4s ease;
  }
  
  &__forgot-password:hover {
    color: v.$color-text;
  }

  &__passwords {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  &__span {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    color: v.$color-orange;

    &--left {
      text-align: left;
    }
  }
}