@use '../../../styles/abstracts/variables' as v;

.logo {

  &__box {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__img {
    width: 7rem;
  }

  &__name {
    font-weight: 900;

    span {
      color: v.$color-tertiary;
    }
  }

}